/*
1. Posicionamiento
2. Modelo de Caja (Box Module)
3. Tipografia 
4. Visuales
5. Otros 
*/

:root {
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secundary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --black: #201e1c;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}


header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg,#201E1C 16.69%, #F7931A 100%);
    
}

header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center; 
}

.header--title-container{
    width: 90%;
    margin: 0 auto;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    align-self: center;
}

.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button{
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white) ;
    /*sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../assets/icons/down-arrow.svg');

}

main{
    width: 100%;
    height: auto;
    min-width: 320px;
    max-width: 930px;
    background-color: var(--off-white);
}

.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--title{

    width: 90px;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container .background-img{

    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('../assets/imgs/Bitcoin.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-exchange-container h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

/*Estilos del section Informativo*/

.main-exchange-container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

/*Estilos de las tablas*/

.main-tables-container{
    position: relative;
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: proximity;
    
}


.main-currency-table{
    width: 70%;
    scroll-snap-align: center;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

.main-comission-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

.main-currency-table .currency-table--title{

    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
 
}

.main-comission-table .main-commission-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secundary-blue);
  
}

.currency-table--container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}


.comission-table--container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency-table--container table{
    width: 100%;
    height: 100%;
}

.comission-table--container table{
    width: 100%;
    height: 100%;
}

.currency-table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.comission-table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.comission-table--container .table__top-left{
    border-radius: 15px 0 0 0;
}

.comission-table--container .table__top-right{
    border-radius: 0 15px 0 0;
}

.comission-table--container .table__bottom-left{

    border-radius: 0 0 0 15px;
}

.comission-table--container .table__bottom-right{
    border-radius: 0 0 15px 0;
}

.currency-table--container .table__top-left{
    border-radius: 15px 0 0 0;
}

.currency-table--container .table__top-right{
    border-radius: 0 15px 0 0;
}

.currency-table--container .table__bottom-left{

    border-radius: 0 0 0 15px;
}

.currency-table--container .table__bottom-right{
    border-radius: 0 0 15px 0;
}

.currency-table--container .table__right{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.comission-table--container .table__right
{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.currency-table--container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-down.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.currency-table--container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-up.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.comission-table--date{
    width: 190px;
    height: 30px;
    margin: 15px auto 0;
    padding: 8px;
    background-color: #E7F5FF;
    border-radius: 8px;
}

.comission-table--date p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
    font-weight: 300;
}

.currency-table--date{

    width: 190px;
    height: 30px;
    margin: 15px auto 0;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 0.8rem;
}

.currency-table--date p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
    font-weight: 300;
}


/*Seccion 2*/

.main-product-detail{
    position: relative;
    width: 100%;
    height: auto;
    min-width: 320px;
    max-width: 900px;
    padding: 20px 10px;
    background-color: var(--warm-black);
}

.product-detail--batata-logo{
    position: absolute;
    width: 40px;
    height: 25px;
    background-image: url('../assets/icons/batata.svg');
    top:-10px;
    left: calc(50% - 20px);
}

.product-detail--title{
    width: 90%;
    margin: 0 auto;
    min-width: 288px;
    height: auto;
    margin-top: 50px;
    text-align: center;
}

.product-detail--title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-family: 'DM Sans', sans-serifs;
    font-weight: bold;
    line-height: 2.6rem;
    text-align: center;
    font-style: normal;
    color: #FFFFFF;
}

.product-detail--title p{
    margin-bottom: 40px;
    color: #808080;
    font-weight: 500;
    text-align: center;
    font-style: normal;
    line-height: 1.8rem;
    font-size: 1.4rem;
    font-family: 'DM Sans', sans-serif;
}

.product-detail--card{
    width: 90%;
    min-height: 150px;
    min-width: 288px;
    max-width: 400px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}


.product-detail--card .icon-reloj{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url('../assets/icons/clock.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.product-detail--card .product--card-title{
    color: var(--just-white);
    margin-bottom: 10px;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.8rem;
}

.product-detail--card .product--card-body{
    color: #808080;
    font-size: 1.2rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    line-height: 1.8rem;
    font-style: normal;
}

.product-detail--card .eyes{

    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    background-image: url('../assets/icons/eye.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-detail--card .dolar{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url('../assets/icons/dollar-sign.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-detail--card .check{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url('../assets/icons/check-circle.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.bitcoin-img-container{
    width: 100%;
    height: 60vh;
    min-width: 320px;
    background-image: url('../assets/imgs/bitcoinbaby2x.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bitcoin-img-container h2{

    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    text-align: center;
}


/*Estilos seccion de planes*/

.main-plans-container{
    width: 100%;
    min-width: 320px;
    padding-bottom:70px;
    text-align: center;
}

.main-plans-container .plans--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}

.plans--title h2{

    padding-top: 50px;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 2.6rem;
    font-size: 2.4rem;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    color: var(--black);

}
.plans--title p{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
   
}

/*Seccion de las card*/

.plans-container--slider{
    display: flex;
    height: 316px;
    gap: 10px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: proximity;
}
.plans-container--card{
    position: relative;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin-top: 50px;
    margin: 0 auto;
    padding: 0 15px;  
    padding-left: 20px;
    background-color: var(--just-white);  
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    margin-top: 30px;
}
.plans-container--card .recommended{

    position: absolute;
    width: 120px;
    height: 31px;
    background-color: var(--bitcoin-orange);
    scroll-snap-align: center;
    border-radius: 8px;
    top: -15px;
    left: calc(50% - 60px);
    text-align: center;
    padding-top: 8px;
    color: var(--just-white);
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-family: 'Inter';
}
.plans-container--card .recommended-basic{

    position: absolute;
    width: 120px;
    height: 31px;
    background-color: var(--secundary-blue);
    border-radius: 8px;
    top: -15px;
    left: calc(50% - 60px);
    text-align: center;
    padding-top: 8px;
    color: var(--just-white);
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-family: 'Inter';
}
.plans-container--card .recommended-ilimitated{

    position: absolute;
    width: 120px;
    height: 31px;
    background-color: var(--black);
    border-radius: 8px;
    top: -15px;
    left: calc(50% - 60px);
    text-align: center;
    padding-top: 8px;
    color: var(--just-white);
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-family: 'Inter';
}
.plans-container--card .plan-info-container{
    
    margin-top: 30px;
    padding: 20px 20px;
    width: 90%;
    height: 250px;
    margin: 0 auto;
}
.plan-info-container .plan-card--title{
    padding-top: 10px;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-style: normal;
    margin-bottom: 10px;
    font-family: 'DM Sans', sans-serif;
    color: var(--black);
}
.plan-info-container .plan-card--price{
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 6.3rem;
    color: var(--black);

}
.plan-card--price span{
    position: absolute;
    font-size: 1.2rem;
    font-weight: 300;
    left: calc(32% - 5px);
    top: calc(25% - 10px);

}

.plan-info-container .plan-card-saving{

    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    color: #757575;
    margin-bottom: 0.4px;
}

.plan-info-container .plan-card--call{
    cursor: pointer;
    width: 151px;
    height: 48px;
    margin-top: 20px;
    background-color: #f4f8f7;
    margin-bottom: 20px;
    border: 2px solid var(--bitcoin-orange);
    line-height: 1.8rem;
    border-radius: 4px;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    padding-left: -10px;
    justify-content: space-between;
    padding-right: 20px;
    color: var(--black);
    padding-bottom: 10px;
    padding-left: 15px;
}

.plan-info-container .plan-card--call span{
  
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../assets/icons/orange-right-arrow.svg');
    vertical-align: text-bottom;
   
}

footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

footer section{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .left ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
footer .left li{
    margin: 10px 0;
}
footer .left ul a{
    text-decoration: none;
    color: var(--just-white);
}